@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap&&family=Roboto:wght@400&display=swap&&family=Quicksand:wght@200;300&display=swap');

.vertical-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-family: var(--font-family-roboto);
    font-size: 12px;
}

:root {
    --colorBlue: #3e92e6;
    --colorPrimary: var(--colorBlue);
}

body {
    color: var(--main-color);
}