:root {
    --background-color: #F4F4F4;
    --font-color: #7F7F7F;
    --button-bg-color: #4A4A4A;
    --button-hover-bg-color: #7F7F7F;
    --font-family-quicksand: 'Quicksand', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
    --font-family-alfa: 'Alfa Slab One', sans-serif;
}