.logo-container {
    transition: background-color 0.5s ease;
}

.circle {
    width: 176px;
    height: 154px;
    background-color: #D8A6A6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 40px;
    transition: background-color 0.5s ease, transform 0.5s ease;
    animation: colorChange 15s infinite; /* Adjusted to complete in 5 seconds */
}

.circle:hover {
    animation-play-state: paused;
    background-color: #A67373; /* Ensures the hover color is maintained */
    transform: scale(1.1); /* Slightly increase size */
    cursor: pointer; /* Change cursor to indicate it's clickable */
}

.circle-text {
    text-align: left;
    padding: 0 40px;
    line-height: 1;
    font-size: 0.7em;
}

@keyframes colorChange {
    0%, 100% {
        background-color: #A67373; /* Original color */
    }
    25%, 75% {
        background-color: #D8A6A6; /* Intermediate color */
    }
}

@media screen and (max-width: 1000px) { /* Corrected the media query */
    .circle {
        width: 125px;
        height: 109px;
        font-size: 20px;
    }

    .circle-text {
        padding: 0 28px; /* Adjusted for smaller screens */
        font-size: 0.9em;
    }
}