@media screen and (width <= 1000px) {
    .sidebar {
        width: 20px;
    }

    .content {
        background-color: #F4F4F4;
        flex-direction: column;
        display: flex;
    }

    .content-left {
        order: 2;
    }

    .content-center {
        order: 3;
    }

    .content-right {
        order: 1;
        height: 100vh;
    }
}