@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F4F4F4;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  color:#7F7F7F;
  margin-bottom: 0;
  margin-top: 0;
}

p {
  font-family: 'Quicksand', sans-serif;
}

.text-small {
  font-size: 10px;
}

textarea {
  width: 100%;
  height: 250px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
  box-sizing: border-box; /* Adds padding and border to element's total width and height */
  margin-top: 10px;
}

button {
  background-color: #4A4A4A;
  color: #CFCFCF;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Quicksand', sans-serif;
}

button:hover {
  background-color: #7F7F7F;
}

.result-container {
  padding: 1%;
}

.interpretation {
  background: #e8e8e8;
  border-left: 5px solid #D8A6A6;
  font-family: 'Quicksand', sans-serif, cursive;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  overflow-y: auto;
  max-height: 400px;
}

.container {
  background-color: #F4F4F4;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  width: 5%;
  background-color: #F4F4F4;
  display: flex;
  align-items: flex-end; /* Aligns the child at the bottom */
  justify-content: center; /* Centers the child horizontally */
  padding-bottom: 20px;
}

.vertical-text {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.content {
  flex-grow: 1; /* Takes up the remaining space */
  background-color: #F4F4F4;
  width: calc(100% - 90px); /* Calculate the width to take the remaining space minus sidebar width */
  height: 100vh; /* Ensure it takes full height */
  display: flex; /* Enable flex layout */
}

.content-left, .content-center, .content-right {
  flex: 1; /* Each section takes half of the available space */
  display: flex; /* Enable flex layout */
  justify-content: center; /* Center content horizontally */
  padding-top: 5%;
}

.content-right {
  flex-direction: column;
  justify-content: flex-end;
}

.content-right img {
  height: 75%;

}

.content-right a {
  text-decoration: none;
}