/* Main container */
.main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Ensures child containers stretch to the height of the main container */
}

/* Left container */
.left-container {
    flex: 0 0 auto; /* Keeps the width fixed */
    height: 100%; /* Inherits height from the main container */
    background-color: #f0f0f0; /* Example background color */
    padding: 10px;
}

/* Content container */
.content-container {
    flex: 1; /* Takes up remaining space */
    display: flex;
    flex-direction: column; /* Ensures content inside this container is in vertical order */
    background-color: #ffffff; /* Example background color */
    padding: 10px;
}

/* Right container */
.right-container {
    flex: 0 0 auto; /* Keeps the width fixed */
    height: 100%; /* Inherits height from the main container */
    background-color: #f0f0f0; /* Example background color */
    padding: 10px;
}

/* Example content containers inside content container */
.content-item {
    margin-bottom: 10px; /* Space between content items */
    padding: 10px;
    background-color: #e0e0e0; /* Example background color */
}